.content-wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 60px;
}


.project-holder{
    background-color: var(--base-color);
    
    min-width: 300px;
    width: 800px;
    height: 100%;

    h2{
        margin: 30px;
    }
}

.project-list {
    margin: 30px;
    margin-top: 0px;
    max-height: 78%;
    overflow: auto;

    scrollbar-color: var(--accent-color) var(--secondary-color);

    .project-list-item {
        color: white;
        background-color: var(--secondary-color);

        height: 60px;
        margin-bottom: 20px;
        margin-right: 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        cursor: pointer;
        transition: all 0.5s ease-in-out;

        .icon-holder{
            position: relative;
            width: 48px;
            height: 48px;
            .project, .project-active{
                position: absolute;
            }
            .project{
                opacity:1;
                transition: all 0.5s ease-in-out;
            }
            .project-active{
                opacity:0;
                transition: all 0.5s ease-in-out;
            }
        }

        &:hover {
            background-color: white;
            color: var(--accent-color);

            .icon-holder{
                .project{
                    opacity:0;
                    transition: all 0.5s ease-in-out;
                }
                .project-active{
                    opacity:1;
                    transition: all 0.5s ease-in-out;
                }
            }
        }


        h3{
            padding: 10px
        }
    }
}

.selections{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:250px;
    margin-right: 60px;

    button{
        height: 80px;
        margin-bottom: 20px;

        &:hover{
            background-color: var(--accent-color);
            color:white;
        }
    }

}


