.file-input-wrapper {

    width: 100%;
  }
  
  .file-label {
    display:block;
    cursor:pointer;
    border: 2px solid transparent;
    padding: 10px 15px;
    background-color: white;
    color: var(--accent-color);
    font-weight: bold;
    border-radius: 16px;
    height:44px;
    width:100%;

    display:flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;

    p {
      font-weight: normal;
    }
  }
  
  .file-input {
    cursor:pointer;
    display: none;
  }
