button {
    &.header-btn {
        height: 100%;
        width: max-content;
        border-radius: 0;
        padding: 12px 20px;
        width:auto;

        color: var(--base-color);

        &.translate {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align:left;
            max-width: 160px;

            span{
                margin-left: 10px;
            }

            svg{
                min-width: 40px;
                min-height: 40px;
                max-width: 40px;
                max-height: 40px;
            }
        }

        &.change {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 140px;

            svg{
                min-width: 30px;
                min-height: 30px;
                max-width: 30px;
                max-height: 30px;
            }
        }

        &:hover {
            color: var(--accent-color);
            &.translate {
                svg path{
                    fill: var(--accent-color);
                    transition: all 0.5s ease-in-out;
                }
            }
            
        }
    }
}

.room-header{
    .part{
        display: flex;
        
        height:100%;
        width: auto;
    }
}

.room {
    width: --webkit-fill-available;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .room-header {
        flex-direction: column;
        height: 92vh;
        width:120px;

        .part{
            height: auto;
        }
    }
    button {
        &.header-btn {
            height: max-content;
            width:120px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .part{
        flex-direction: column;
    }

    .room{
        flex-direction: row;
    }
}

