header {
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
    font-size: 24px;
    height: 8vh;

    p {
        padding: 10px;
        padding-bottom: 15px;
    }
}