@import './reset.css';

:root {
  --base-color: #B9D1EB;
  --text-color: #19274A;
  --accent-color: #426FA4;
  --secondary-color: #8DACDB;

}

body {

  font-family: Inter, Tahoma, Verdana, sans-serif;
  color: var(--text-color)

}

main {
  height: 92vh;
}

button{
  cursor: pointer;

  background-color:var(--text-color);
  border-radius: 9px;

  color:white;
  font-weight: bold;
  font-size:18px;

  height:55px;
  width: 100%;
}

input{
  height:44px;
  border-radius: 16px;
  border: 0px;
}